.DS_Store
node_modules
dist
*.log
*.swp
*.cache
*.idea
*.lock
.yarn/**/*
.yarnrc
src/assets/ss/fonts/**/*
src/assets/js/vendor/**/*
!src/assets/js/vendor/foundation-what-input.min.js
!src/assets/js/vendor/jquery-3.4.1.min.js
