/* background shapes */
@media screen {
  @each $name, $color in $hz-palette {
    .#{$name} {
      background-color: $color;
    }    
  }
}
/*
.hz{
	background-color: #bae8e8;
}
*/
.hz::after{
	transform: skewY(-7deg);
	transform-origin: 0 0;
}
.hz::after{
	background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    padding:15% 0;
}

.wv::after{
  	background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    /*padding:15% 0;*/
  	border-bottom-left-radius: 50% 20%;
  	border-bottom-right-radius: 50% 20%;
}