.callout{
  border: none;
}
.top-dollar{
  transform:rotate(4deg);
  transform-origin: center center;
}
.blob1{
  //transform: translate
  transform-origin:center center;
}

//#house3{visibility: hidden;}
//#heart3{visibility: hidden;}
//#house2{visibility: hidden;}
//#house1{visibility: hidden;}
//#heart1{visibility: hidden;}
#heart0{visibility: hidden;}
#house0{visibility: hidden;}
#bubble-collection-anim{
  height:60px;
  overflow: hidden;
  border: 1px solid red;
}
