.callout{
  border: none;
}
.top-dollar{
  transform:rotate(4deg);
  transform-origin: center center;
}
.blob1{
  //transform: translate
  transform-origin:center center;
}
#heart-fade-in{visibility: hidden;}
#house-fade-in{visibility: hidden;}
#house-fade-out{visibility: hidden;}
//#heart-1{visibility: hidden;}
//#heart-3{visibility: hidden;}
//#house-two{visibility: hidden;}
//#house-one{visibility: hidden;}
