.background-white{
  background-color: $white;
}
.background-primary{
  background-color: #bae8e8;
}
.header{
  height:95vh;
}
.brand-container{
  padding: 10px;
  width: 100%;
  height: 53%;
  left: 0;
  z-index: 1;
  @include breakpoint (medium){
    height: 43%;
  }
  @include breakpoint (large){
    height: 33%;
  }
}
.brand{
  margin-top: 10px;
  margin-left: 15px;
}
.hamburger-container{
  right: 0;
  z-index: 100;
}
.search-container{
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.mh-search{
  margin: 0;
  z-index:3;
}
.text-align-left{
  text-align: left;
}
.tile-container{
  z-index:2;
}
.clearfix {clear:both}

.tile{
  border-radius: 5%;
  width: 9.375rem;
  height: 9.375rem;
  background-color: $off-white  ;
  border: 1px solid $medium-gray;
  padding:20px;
  text-align: center;
}
.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
